* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'virgil';
}

@font-face {
    font-family: virgil;
    src: url(./Virgil.woff2);
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 8vw;
}